@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@600&display=swap');

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: hsl(183, 53%, 34%);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: hsl(183, 80%, 34%);
    border-radius: 100vw;
}

/*@supports (scrollbar-color: red blue;) {
    * {
        scrollbar-color: hsl(183, 53%, 34%) hsl(183, 80%, 34%);
        scrollbar-width: thin;
    }
}*/

html {
    min-height: 100%;
    position: relative;
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    /*background-color: rgb(42, 49, 47);*/
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    color: antiquewhite;
    text-shadow: 2px 2px #0c2955;
}

#heading {
    font-size: 210%;
    font-family: "Abril Fatface", sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 2rem;
    color: antiquewhite;
}

/* Game area */

#game-scroll {
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 200px;
}

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
}

.control {
    margin: 2px;
    width: 80px;
    height: 40px;
    color: antiquewhite;
    background-color: rgb(55, 7, 10);
    /*background-color: rgb(40, 68, 132);*/
    border-radius: 2rem;
    font-family: "Josefin Sans", sans-serif;
}

#reset {
    color: antiquewhite;
    background-color: rgb(55, 7, 10);
    /*background-color: rgb(40, 68, 132);*/
    width: 60px;
    height: 30px;
    border-radius: 2rem;
    margin-top: 3px;
    font-family: "Josefin Sans", sans-serif;
}

.messages {
    margin-top: 20px;
    font-size: 1.2rem;
}

.scores {
    color: antiquewhite;;
    font-size: 100%;
    margin-bottom: 0;
    text-shadow: 1px 1px #672e35;
}

.player {
    /*background-color: rgba(255, 255, 255, 0.95);*/
    float: left;
    width: 45%;
    margin-top: 1rem;
    /*border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.computer {
    /*background-color: rgba(255, 255, 255, 0.95);*/
    float: right;
    width: 45%;
    margin-top: 1rem;
    /*border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#player-image,
#computer-image {
    width: 90%;
    opacity: 0.9;
}

/* Footer with rules */

footer {
    position: fixed;
    /*display: block;*/
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgba(55, 7, 10, 0.9);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

#rules {
    font-size: 180%;
    display: grid;
    text-align: center;
    margin: 1rem auto 0 auto;
}

.rules-list {
    display: flex;
    margin: 0 auto;
    /*webkit-column-count: 2;
    moz-column-count: 2;
    column-count: 2;*/
    font-size: 90%;
    justify-content: space-evenly;
}

li {
    margin-top: 5px;
  }

.class > li {
    display: inline;
    text-decoration: dotted;
}

@media (max-width: 1280px) {
    /*#game-scroll {
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 200px;
    }*/

    footer {
        max-height: 30%;
    }

    #rules {
        font-size: 140%;
    }

    .rules-list {
        font-size: 70%;
        padding-bottom: 5px;
    }
}

/*@media (max-width: 736px) {
    .rules-list {
        display: flex;
        flex-wrap: wrap;
    }
}*/

@media (max-width: 500px) {
    footer {
        max-height: 150px;
    }

    .rules-list {
        font-size: 60%;
        margin-right: 5px;
    }

    .game-area {
        width: 90%;
    }

    .scores {
        font-size: 85%;
    }

}

@media (max-width: 280px) {
    #heading {
        margin: 0.5rem;
    }

    .control {
        width: 65px;
        height: 30px;
    }

    .scores {
        font-size: 70%;
    }

    #rules {
        font-size: 100%;
    }

    .rules-list {
        font-size: 50%;
    }

    li {
        margin-top: 2px;
    }
}