@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@600&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgb(42, 49, 47);
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    color: antiquewhite;
}

#heading {
    font-size: 210%;
    font-family: "Abril Fatface", sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 2rem;
    color: antiquewhite;
}

/* Game area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
}

.control {
    display: inline-box;
    margin: 2px;
    width: 80px;
    height: 40px;
}

#messages {
    height: 20px;
    display: inline;
}

.scores {
    color:rgb(42, 49, 47);
    font-size: 80%;
}

.player {
    background-color: rgb(255, 255, 255);
    float: left;
    width: 45%;
}

.computer {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 45%;
}

#player-image {
    width: 75%;

}

#computer-image {
    width: 75%;
}

/* Footer with rules */

footer {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: blueviolet;
}

#rules {
    font-size: 160%;
    display: grid;
    text-align: center;
    margin: 1rem auto 0 auto;
}

.rules-list {
    margin: 0.5rem auto 1rem auto;
    /*webkit-column-count: 2;
    moz-column-count: 2;*/
    column-count: 2;
    font-size: 80%;
    align-content: center;
}

.class > li {
    display: inline;
    text-decoration: dotted;
    flex-direction: column;
    /*align-items: center;*/
}