@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@600&display=swap');

html {
    min-height: 100%;
    position: relative;
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    color: antiquewhite;
    text-shadow: 0 0 4px #7d0d0d, 0 0 6px #0e0e7a;
}

#heading {
    font-size: 210%;
    font-family: "Abril Fatface", sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 2rem;
    color: antiquewhite;
}

/* Game area */

#game-scroll {
    overflow: scroll;
    overflow-x: hidden;
}

.game-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    background-color: rgba(218, 211, 211, 0.85);
    padding: 2rem 0 5rem 0;
    border-radius: 1.5rem;
    color: antiquewhite;
}

.movesleft, p {
    font-size: 130%;
}

.control {
    margin: 3px;
    width: 90px;
    height: 50px;
    color: antiquewhite;
    background-color: rgb(55, 7, 10);
    border-radius: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 100%;
}

#reset {
    color: antiquewhite;
    background-color: rgb(55, 7, 10);
    width: 60px;
    height: 30px;
    border-radius: 2rem;
    margin-top: 3px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 90%;
}

.messages {
    margin-top: 20px;
    font-size: 2rem;
}

.scores {
    color: antiquewhite;;
    font-size: 150%;
    margin-bottom: 0;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    margin-top: .5rem;

}

.player, .computer {
    width: 50%;
}

#player-image,
#computer-image {
    width: 75%;
    max-width: 320px;
    opacity: 0.95;
}

/* Footer with rules */

footer {
    display: block;
    padding-top: .3rem;
    margin-top: 2rem;
    clear: both;
    width: 100%;
    background-color: rgba(55, 7, 10, 0.9);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding-bottom: 2rem;
}

#rules {
    font-size: 180%;
    display: grid;
    text-align: center;
    margin: 1rem auto 0 auto;
}

.rules-list {
    display: flex;
    margin: 0 auto;
    font-size: 120%;
    justify-content: space-evenly;
}

li {
    margin-top: 5px;
  }

.class > li {
    display: inline;
    text-decoration: dotted;
}

@media (max-width: 1280px) {
    footer {
        max-height: 30%;
    }

    #rules {
        font-size: 140%;
    }

    .rules-list {
        font-size: 90%;
        padding-bottom: 5px;
    }
}

@media (max-width: 769px) {
    #heading {
        margin: 5px;
    }

    footer {
        margin-top: 12rem;
    }
}

@media (max-width: 500px) {
    footer {
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .rules-list {
        font-size: 80%;
        margin-right: 5px;
    }

    .game-area {
        width: 90%;
    }

    .scores {
        font-size: 85%;
    }

}

@media (max-width: 280px) {
    #heading {
        margin: 0.5rem;
    }

    .control {
        width: 65px;
        height: 30px;
    }

    #reset {
        width: 55px;
        height: 25px;
    }

    .scores {
        font-size: 80%;
    }

    #rules {
        font-size: 100%;
    }

    .rules-list {
        font-size: 60%;
    }

    li {
        margin-top: 2px;
    }

    .movesleft, p {
        font-size: 110%;
    }
}